#k1,#k2,#k3{/*hepsi aynı özellikte olsun istiyosan böyle yapacan*/
    background-color: aqua;
    width: 100vw;
    height: 30vh;
}
img{
    width: 15vw;/*sayfadaki tüm resimler için boyut vermiş olduk*/
}
#k1 p{
    background-color: yellowgreen;
}
#k1 p::first-letter{
    font-size: 10vh;
}