#kapsa1{
    display: flex;
    height: 7vh;
    background-color: lightsalmon;
    padding-left: 8px;
}
#kapsa2{
    display: flex;
    height: 60vh;
    background-color: navy;
    padding-left: 8px;
}
#kapsa3{
    display: flex;
    height: 15vh;
    background-color: lightsalmon;
    padding-left: 8px;
}
.rightLink{
    font-size: 20px;
    color: azure;
    margin-right: 25px;
    margin-top: 8px;
}
a{
    color: azure;
    font-size: 30px;
    text-decoration: none;
}
#pMid{
    color: black;
    font-size: 25px;
}
#pBottom{
    color: black;
    font-size: 25px;
}
ul{
    display: flex;
    text-decoration: none;
    justify-content: right;
}