#kapsa{
    width: 500px;height: 500px;background-color: aqua;
    position: relative;/*kendinden önceki nesneye göre konumlanıyo*/
}
#kutu1{
    width: 100px;height: 100px;background-color: rebeccapurple;
    position: absolute;bottom: 10px;right: 10px;/*bulunduğu nesne içinde konumlandırmak için*/
}
#kutu2{
    width: 100px;height: 100px;background-color: red;
    position: fixed;bottom: 10px;right: 10px;/*bodye konumlanıyo ve konumlandığı yerde kalıyo yan çıkan reklam gibi*/
}
#kutu3{
    width: 100px;height: 100px;background-color: yellow;
    position: sticky;top: 10px;/*bodye göre konumlanıyo sayfa aşağı kayınca sayfadan çıkmayıp konumlandırdığın yerde gözüküyo*/
}